* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #164863;
  color: #ddf2fd;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  /* background-color: #164863; */
  padding-inline: 40px;
  align-items: center;
}

div.navbar_logo {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar img {
  height: 80px;
  width: auto;
}

div.nav_menu {
  display: flex;
  gap: 5px;
  align-items: center;
}

.navbar a {
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  color: #ddf2fd;
}

.navbar a:hover {
  background-color: #9BBEC8;
  color: #164863;
}

.section1 {
  color: #ddf2fd;
  justify-content:center;
  align-items: center;
  text-align: center;
}

.section1 h1 {
  padding: 10px;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  flex: 100%;
  padding: 5px;
  padding-left: 10px;
}

.column img {
  width: 300px;
  height: auto;
}

@media screen and (max-width: 900px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .column {
    flex: 50%;
    padding: 5px;
  }
}
